
@mixin clearfix() {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  